[Unit]
Description=Galera Initiator
After=snmpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/galera_init
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
