[Unit]
Description=Galera Initiator

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/local/sbin/galera-initiator.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
