[Unit]
Description=Galera Initiator
After=snmpd.service

[Service]
Type=forking
Restart=always
ExecStart=/usr/bin/galera_init
ExecStop=/etc/init.d/mysql stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
